:root {
    --primary-color-blu: #08aeac;
    --primary-color-black: #021533;
    --primary-color-red: #b31f27;
    --text-color: #021533;
    --text-white-color: white;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 65.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
/* responsive */
.grid {
    /* width: 1200px; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 0;
    margin: 0 auto;
    background: url(../img/bg1.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}